/* @import url("./public/fonts/index.css"); */

:root {
  /* Colors */
  --black: #000000;
  --white: #ffffff;
  /* --white: #dcdccb; */

  --background: var(--black);
  --foreground: var(--white);

  --background-semi-transparent: rgba(0, 0, 0, 0.6);
  --background-dark-transparent: rgba(0, 0, 0, 0.8);

  --color-grey-light: #999;
  --color-grey-mid: #666;
  --color-grey-dark: #333;
  --color-grey-darker: #222;

  /* --color-alert: rgb(255, 69, 0); */
  --color-alert: rgb(104, 104, 103);
  /* --color-alert-priority: rgb(255, 128, 0); */

  --color-alert-priority: rgb(176, 176, 176);
  --color-alert-priority-muted: rgb(98, 98, 98);
  --color-alert-priority-light: rgb(197, 196, 196);

  --color-button: rgb(130, 130, 130);

  --color-secondary: rgb(141, 141, 141);
  --color-success: rgb(112, 112, 112);
  --color-value: rgb(200, 200, 200);
  --color-item: rgb(145, 145, 145);
  --color-value-up: var(--color-success);
  --color-value-down: var(--color-death);

  --color-death-muted: rgb(145, 145, 145);
  --color-death: rgb(94, 94, 94);
  --color-death-light: rgb(209, 209, 209);

  --game-window-width: calc(min(100vw, 1920px) - 30px);
  --game-window-height: calc(100vh - 30px);
  --game-window-main-height: calc(var(--game-window-height) - 60px);

  --color-up: #78ee72;
  --color-down: red;

  --color-item-add: #a800f0;
  --color-item-remove: #f0b000;
  --color-balance-add: rgb(135, 255, 135);
  --color-balance-remove: #cc002c;

  /* * * * * * * * * * * * * *
  * Layout
  * * * * * * * * * * * * * */

  /* Layout: Game window */
  --game-center-bar-width: 90px;
  --game-center-bar-phone-height: 60px;
  --game-column-width: calc(50% - var(--game-center-bar-width) / 2);

  /* Layout: Your Rat */
  --liquidate-rat-height: 100px;
  --rat-main-info-height: 160px;

  /* Layout: Top Bar */
  --top-bar-height: 60px;

  /* Layout: Your Trips */
  --world-prompt-box-height: 80px;
  --mode-switch-height: 60px;
  --create-trip-button-height: 80px;

  /* Layout: Trip Item */
  --trip-item-height: 260px;
  --trip-item-padding: 10px;
  --trip-item-image-height: 240px;

  /* Layout: Trip Result */
  --info-box-height: 260px;

  /* Sizing */
  --default-padding: 14px;
  --tab-bar-height: 90px;

  /* Border */
  /* --color-border: #637263; */
  --color-border: #8a6572;
  --default-border-style: 1px solid var(--color-border);
  --dashed-border-style: 1px dashed var(--color-border);

  /* Typography */
  --typewriter-font-stack: "Workbench", monospace;
  --button-font-stack: "Michroma", sans-serif;
  --special-font-stack: "Xanh Mono", monospace;
  --admin-font-stack: "Workbench", monospace;
  --font-size-very-small: 9px;
  --font-size-small: 12px;
  --font-size-normal: 18px;
  --font-size-medium: 20px;
  --font-size-large: 26px;
  --font-size-extra-large: 48px;
  --font-size-super-large: 64px;

  /** Layers */
  --z-background: 0;
  --z-sub: 5;
  --z-sub-top: 10;
  --z-base: 20;
  --z-mid: 30;
  --z-high: 40;
  --z-top: 50;
  --z-modal: 100;
  --z-debug: 66666;
}

* {
  box-sizing: border-box;
  border-color: var(--foreground);
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  overscroll-behavior-y: none;
  /* user-select: none; */
  -webkit-tap-highlight-color: transparent; /* Remove touch overlay */
  -webkit-touch-callout: none; /* Disable callout on iOS */
}

body {
  letter-spacing: 0px;
}

body,
html {
  background: black;
  color: white;
  font-family: var(--typewriter-font-stack);
  font-size: var(--font-size-normal);
  margin: 0;
  padding: 0;
  overscroll-behavior-y: none;
}

hr {
  margin-top: 20px;
  margin-bottom: 20px;
}

button {
  font-family: var(--typewriter-font-stack);
  cursor: pointer;
  user-select: none;
  appearance: none;
  -webkit-appearance: none;
}

.priority {
  background: var(--color-alert-priority) !important;
  color: var(--white) !important;
  border: none;
  transition: all 0.2s ease;
}

.center-tooltip {
  text-align: center;
}

.tooltip-value {
  background: var(--color-value);
  color: var(--black);
  padding: 2px;
}

.tooltip-value-positive {
  background: var(--color-value-up);
  color: var(--black);
  padding: 2px;
}

.tooltip-value-negative {
  background: var(--color-value-down);
  color: var(--black);
  padding: 2px;
}

.border-warning {
  border-right: 12px solid;
  border-image-slice: 6;

  border-image-source: repeating-linear-gradient(-45deg, #111, #111 10px, #333 10px, #333 20px);
}

.warning {
  border: none;
  background: repeating-linear-gradient(45deg, #f0d000, #f0d000 20px, #bda400 20px, #bda400 40px);
}

.danger {
  border: none;
  background: repeating-linear-gradient(45deg, #cc0000, #cc0000 20px, #9e0000 20px, #9e0000 40px);
}
.warning-mute {
  color: var(--foreground);
  border: none;
  background: repeating-linear-gradient(45deg, black, black 20px, #222 20px, #222 40px);
}

.warning-mute-inverse {
  color: var(--foreground);
  border: none;
  background: repeating-linear-gradient(-45deg, black, black 20px, #222 20px, #222 40px);
}

.tippy-content {
  font-size: var(--font-size-small);
  border-radius: 0;
}

.flash-fast-thrice {
  animation: strobe 120ms steps(1, end) 3;
}

.flash-slow-thrice {
  animation: strobe 240ms steps(1, end) 3;
}

a {
  text-decoration: none;
}

@keyframes strobe {
  50% {
    opacity: 0;
  }
}

@keyframes strobe-slow {
  20% {
    opacity: 0;
  }
}

.terminal-line--loader {
  word-break: break-all;
}
