@font-face {
  font-family: "OCRA";
  src:
    url("OCRA/OCRAStd.woff2") format("woff2"),
    url("OCRA/OCRAStd.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: "Impact Label Reversed";
  src:
    url("ImpactLabel/ImpactLabelReversed.woff2") format("woff2"),
    url("ImpactLabel/ImpactLabelReversed.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: "Impact Label";
  src:
    url("ImpactLabel/ImpactLabel.woff2") format("woff2"),
    url("ImpactLabel/ImpactLabel.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
