[profile.default]
solc_version = "0.8.24"
ffi = false
fuzz_runs = 256
optimizer = true
optimizer_runs = 3000
verbosity = 2
src = "src"
test = "test"
out = "out"
allow_paths = [
  # pnpm symlinks to the project root's node_modules
  "../../node_modules",
  # template uses linked mud packages from within the mud monorepo
  "../../../../packages",
  # projects created from this template and using linked mud packages
  "../../../mud/packages",
]
extra_output_files = [
  "abi",
  "evm.bytecode"
]
fs_permissions = [{ access = "read", path = "./"}]

# Silence address(this) errors in deploy script in latest versions of foundry
# https://github.com/foundry-rs/foundry/releases/tag/v1.2.0
script_execution_protection = false

[doc]
ignore=["codegen"]

[profile.base-sepolia]
eth_rpc_url = "https://sepolia.base.org"

[profile.base-mainnet]
eth_rpc_url = "https://mainnet.base.org"


