/* @import url("./public/fonts/index.css"); */

:root {
  /* Colors */
  --black: #000000;
  --white: #ffffff;
  /* --white: #dcdccb; */

  --background: var(--black);
  --foreground: var(--white);

  --color-grey-dark: #333;
  --color-grey-mid: #666;
  --color-grey-light: #999;

  --color-alert: rgb(255, 69, 0);
  --color-secondary: rgb(163, 66, 31);
  --color-health: rgb(95, 186, 95);
  --color-value: rgba(243, 236, 42, 0.8);
  --color-item: rgb(160, 98, 177);
  --color-death: rgb(186, 30, 30);

  --corporate-background: #bebebe;
  --corporate-foreground: #000000;
  --corporate-alert: #ffff00;


  /* * * * * * * * * * * * * *
  * Layout
  * * * * * * * * * * * * * */

  /* Layout: Your Rat */
  --rat-editor-height: 180px;
  --liquidate-rat-height: 100px;
  --rat-cam-height: calc(100% - var(--rat-editor-height) - var(--liquidate-rat-height));

  /* Layout: Your Rooms */
  --create-room-button-height: 100px;
  --player-room-listing-height: calc(100% - var(--create-room-button-height));

  /* Sizing */
  --default-padding: 14px;
  --top-bar-height: 40px;
  --tab-bar-height: 90px;

  /* Typography */
  --typewriter-font-stack: "OCRA", monospace;
  --corporate-font-stack: "IBM Plex Sans", sans-serif;
  --font-size-label: 8px;
  --font-size-small: 9px;
  --font-size-normal: 14px;
  --font-size-large: 32px;

  /* Misc */
  --default-border-style: 5px double var(--color-grey-dark);

  /** Layers */
  --z-0: 0;
  --z-1: 1;
  --z-2: 2;
  --z-3: 3;
  --z-4: 4;
  --z-5: 5;
  --z-6: 6;
  --z-7: 7;
  --z-8: 8;
  --z-9: 9;
  --z-10: 10;
}

* {
  box-sizing: border-box;
  border-color: var(--foreground);
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  margin: 0;
  padding: 0;
  /* user-select: none; */
}

body {
  /* text-transform: uppercase; */
  letter-spacing: 0px;
}

body,
html {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--typewriter-font-stack);
  font-size: var(--font-size-normal);
  margin: 0;
  padding: 0;
  overscroll-behavior-y: none;
}

hr {
  margin-top: 20px;
  margin-bottom: 20px;
}

button {
  font-family: var(--typewriter-font-stack);
  cursor: pointer;
}

.button-text {
  position: relative;
  top: 3px;
}
